/* Card Container */
.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    width: 100%;
    max-width: 600px;
    margin: auto;
    font-family: Arial, ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card > div:first-child {
    flex: 9;
  }

  
  .card > div:last-child {
    flex: 1; 
  }
  
  /* Card Header */
  .card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .card-id {
    font-size: 12px;
    color:#acacac;
  }
  
  .card-avatar {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .card-title-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  
  /* Card Title */
  .card-title {
    font-size: 12px;
    color: #575657;
    margin-bottom: 10px;
    margin-left: 5px;
  }
  
  /* Card Footer */
  .card-footer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .card-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    background-color: #eee;
    border-radius: 4px;
  }
  
  .card-icon {
    font-size: 12px;
    color: #333;
  }
  
  .card-badge {
    font-size: 12px;
    padding: 4px 8px;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #555;
    border: 1px solid #ddd;
  }

  .avatar-container {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 2px;
  }

  .status-indicator {
    position: absolute;
    bottom: 1px;
    right: 1px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid white; /* Border for a cleaner look */
  }
  
  /* Active Status */
  .status-indicator.active {
    background-color: #28a745; /* Green color */
  }
  
  /* Inactive Status */
  .status-indicator.inactive {
    background-color: #dfe1e4; /* Grey color */
  }

  .card-title-container .icon {
    width: 15px;
    height: 15px;
    margin-right: 2px;
  }
  