:root {
  --primary-color: #4caf50;
  --text-color: #333;
  --font-family: "Arial";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: 	#f4f6fa ;
  color: var(--text-color);
}

body::-webkit-scrollbar {
  width: 0;
  height: 0; 
}

body {
  scrollbar-width: none; /* Firefox */
}


* {
  -ms-overflow-style: none; 
  scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
